@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/keyframes' as *;

.CTA {
    background-color: transparent;
    color: #08a006;
    font-family: monospace;
    height: 3rem;
    min-width: 3rem;
    padding: 0 0.5rem;
    border: 1px solid #08a006;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 1rem 0;
    @include tablet {
        width: auto;
        padding: 0 1.5rem;
    }

    &:hover {
        border: 1px solid transparent;
        background-color: #08a006;
        color: rgb(19, 35, 19);
        cursor: pointer;
    }

    &__text{
        margin: 0;
        font-size: 0.95em;
    }

    &__icon {
        height: 1.3rem;
        position: absolute;
        left: 0.5rem;
    }

    &__single-icon {
        height: 1.3rem;
        position: absolute;
        left: 0.8rem;
    }

    &--cancel {
        background-color: white;
        color: black;
    }

    &--disabled {
        opacity: 0.6;

        &:hover {
            cursor: not-allowed;
            border: 1px solid #08a006;
            background-color: transparent;
            color: #08a006;
        }
    }

    &--enabled {
        animation: buttonGlitch 0.5s step-start;
    }
}