// @use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
// @use '../../styles/partials/variables' as *;

.CTA {
    background-color: transparent;
    color: #08a006;
    height: 3rem;
    min-width: 3rem;
    padding: 0 0.5rem;
    border: 1px solid #08a006;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 1rem 0;
    @include tablet {
        width: auto;
        padding: 0 1.5rem;
    }

    &:hover {
        border: 1px solid transparent;
        cursor: pointer;
    }

    &__text{
        margin: 0;
        font-size: 0.95em;
    }

    &__icon {
        height: 1.3rem;
        position: absolute;
        left: 0.5rem;
    }

    &__single-icon {
        height: 1.3rem;
        position: absolute;
        left: 0.8rem;
    }

    &--cancel {
        background-color: white;
        color: black;
    }

    &--secondary {
        background-color: white;
        color: black;
    }

    &--disabled {
        background-color: grey;
        color: white;
        border: 2px solid grey;

        &:hover {
            background-color: grey;
            color: white;
            border: 2px solid grey;
            cursor: not-allowed;
        }
    }

    &--no-hover {
        &:hover {
            background-color: black;
            color: white;
            border: 2px solid black;
            cursor: pointer;
        }
    }
}