@use '../../styles/partials/keyframes' as *;

.form {
    margin-top: 1rem;

    &__field {
        display: block;
        width: 100%;
        min-width: 180px;
        margin: 0;
        border: 1px solid #08a006;
        background-color: #073407;
        color: #08a006;
        padding: 1rem;
        box-sizing: border-box;

        &:focus {
            outline: 1px solid #08a006;
        }
    }
}