$primary-black: #13182C;
$primary-white: #FFFFFF;

$secondary-slate: #5C667E;
$secondary-cloud: #BDC5D5;

$background-graphite: #232940;
$background-light-grey: #F7F8F9;

$supporting-green: #158463;
$supporting-red: #C94515;

$primary-editable: #1045c0;
$secondary-editable: #5C667E;