@use "colors";
@use "variables";
@use "mixins" as *;

body {
    margin: 0;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 1rem 0;
    @include tablet {
        font-size: 4.5rem;
    }
}

h2 {
    font-size: 2rem;
    font-weight: 300;
    margin: 1rem 0;
    @include tablet {
        font-size: 3rem;
    }
}

h3 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 2.5rem;
}