@use '../../styles/partials/keyframes' as *;
@use '../../styles/partials/colors' as *;

.mood {
    &__header {
        text-align: left;
        margin: 0;
    }

    &__select {
        position: relative;
        display: block;
        max-width: 100%;
        min-width: 180px;
        margin: 0 auto;
        border: 1px solid $screen-boxes;
        background-color: $screen-background-lighter;

        &::after {
            position: absolute;
            right: 0;
            top: 0;
            width: 50px;
            height: 100%;
            line-height: 38px;
            content: '\2228';
            text-align: center;
            color: $screen-text-lighter;
            font-size: 24px;
            border-left: 1px solid $screen-boxes;
            pointer-events: none;
        }
    }

    &__field {
        border: none;
        outline: none;
        background: $screen-background-lighter;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
        margin: 0;
        display: block;
        width: 100%;
        padding: 12px 55px 15px 15px;
        font-size: 14px;
        color: $screen-text-lighter;
    }
}